<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>-</title>
    <meta name="keywords" content="-">
    <meta name="description" content="-">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/theme.min.css">
</head>

<body>
<!-- Card -->
<div class="container content-space-2">
    <div class="w-lg-75 mx-lg-auto">
        <!-- Card -->
        <div class="card card-bordered p-4 p-md-7 text-xl fs-6">
            <h1 class="card-title h2 text-center mb-4">如花外卖扫码点餐系统 - 用户授权协议</h1>
            <h4 class="text-center mb-4">《付费商业版》</h4>
            <p>
            感谢您选择如花外卖扫码点餐（简称餐饮系统），餐饮系统基于 Thinkphp6 + vue3 + ts + uniapp 开发。<br/>
            为了使你正确并合法的使用本软件，请你在使用前务必阅读清楚下面的协议条款：<br/>
            餐饮系统有多个版本：“免费版”、“付费商业版”、“付费商业版（开源）”<br/>
            本授权协议适用于餐饮系统 “付费商业版”、“付费商业版（开源）”，餐饮系统官方对本授权协议的最终解释权和修改权。</p>

            <h5>一、协议许可的权利</h5>
            <p>1、在未支付软件版权授权费用时,不允许使用 餐饮系统付费商业版。<br/>
                2、购买商业授权，并绑定授权域名后，您可以将本软件应用于商业用途但必须是在授权的域名下，同时依据所购买的授权类型中确定的技术支持内容。 <br/>
                3、购买商业授权后，未绑定授权域名，不影响本地测试。但上线使用必须是在授权的域名下。<br/>
                4、您拥有使用本软件构建的网站全部内容所有权，并独立承担与这些内容的相关法律义务。 </p>


            <h5>二、协议许可的权利和限制</h5>
            <p> 1、未获商业授权之前，不得删除网站底部及相应的官方版权信息和链接。购买商业授权请联系 兴义市黔域网络科技有限公司 了解最新说明。<br/>
                餐饮系统著作权已在中华人民共和国国家版权局注册(中国国家版权局著作权登记号 2021SRO616409 )，著作权受到法律和国际公约保护。 <br/>
            2、未经官方许可，不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。 <br/>
            3、获得商业授权之后，可以去除页面中 餐饮系统的标识和官方链接。 <br/>
            4、未经官方许可，禁止在 餐饮系统 的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。 <br/>
            5、如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。</p>

            <h5>三、有限担保和免责声明</h5>
            <p>1、本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。 <br/>
            2、本软件所提供图片素材仅供展示布局效果，还请自行更换系统中的图片素材<br/>
            3、电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。<br/>
                您一旦开始确认本协议并安装 餐饮系统，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。<br/>
            协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。</p>

            -----------------------------------------------------
            <p>协议发布时间： 2022年9月21日 <br/>
            餐饮系统官方网站：https://mail.ruhuashop.com<br/>
            邮   箱: wyc0859@qq.com<br/>
            版权所有 (c)2022，兴义市黔域网络科技有限公司 保留所有权利。</p>

            <div class="border-top text-center pt-5 mt-5">

                <div class="mb-3">
                    <button type="button" class="btn btn-soft-primary my-1 mx-4">
                        不同意
                    </button>
                    <a href="{:url('install/step2')}">
                    <button type="button" class="btn btn-primary my-1 me-sm-2">
                        同意
                    </button>
                    </a>
                </div>

            </div>
            <!-- End Info -->


        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Card -->

</body>
</html>